apiVersion: apps/v1
kind: Deployment
metadata:
  name: payments-api
  namespace: dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payments-api
  template:
    metadata:
      labels:
        app: payments-api
    spec:
      containers:
        - name: payments-api
          image: payments-api:local
          imagePullPolicy: Never
          ports:
            - containerPort: 3000
          env:
            - name: PORT
              value: "3000"

            # API keys from secret
            - name: PAYMENT_API_KEY
              valueFrom:
                secretKeyRef:
                  name: api-keys
                  key: PAYMENT_API_KEY
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: api-keys
                  key: JWT_SECRET
---
apiVersion: v1
kind: Service
metadata:
  name: payments-api
  namespace: dev
spec:
  selector:
    app: payments-api
  ports:
    - port: 80
      targetPort: 3000
      nodePort: 30082
  type: NodePort
