name: services-ci

on:
  push:
    branches:
      - main
    paths:
      - 'services/**'
      - '.github/workflows/api-gateway-ci.yml'
      - 'package.json'
      - 'package-lock.json'
  pull_request:
    branches:
      - main
    paths:
      - 'services/**'
      - '.github/workflows/api-gateway-ci.yml'
      - 'package.json'
      - 'package-lock.json'

jobs:
  build-test-lint:
    runs-on: ubuntu-latest

    #one job per service
    strategy:
      matrix:
        service:
          - api-gateway
          - orders-api
          - payments-api

    # All "run" commands happen inside the chosen service folder
    defaults:
      run:
        working-directory: services/${{ matrix.service }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: |
            services/${{ matrix.service }}/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Run unit tests
        run: npm test

      - name: Run lint
        run: npm run lint

      - name: Build Docker image
        run: |
          docker build \
            -t devplatform-${{ matrix.service }}:${{ github.sha }} \
            .

      - name: Scan Docker image for vulnerabilities (Trivy)
        run: |
          docker run --rm \
            -v /var/run/docker.sock:/var/run/docker.sock \
            aquasec/trivy:latest image \
            --exit-code 1 \
            --severity CRITICAL,HIGH \
            --no-progress \
            devplatform-${{ matrix.service }}:${{ github.sha }}
